 <!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta section -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- page config section -->
    <title>Hệ thống quản lý chuyến bay</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <!-- Link CSS của Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Link JS của Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="{{url_for('home')}}">HỆ THỐNG QUẢN LÝ CHUYẾN BAY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('home')}}">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('login')}}">Đăng Nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('booktickets')}}">Đặt Vé</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('sellticket')}}">Bán Vé</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{{url_for('flightManagement')}}">Quản Lý Chuyến Bay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('ScheduleManagement')}}">Quản Lý Tuyến Bay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('reportRevenue')}}">Thông Kê Báo Cáo</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Header -->
    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4 font-weight-bold">HỆ THỐNG QUẢN LÝ CHUYẾN BAY</h1>
            <p class="lead">Chào mừng bạn đến với trang web của chúng tôi.</p>
        </div>
    </header>

    <!-- Main Content -->
    <!-- Chat Message Box -->
    <div class="message-box">
        <h2>We Love LVDAirlines</h2>
        <p>Chào bạn đến với LVDAirline. Bạn hãy giới thiệu về mình để cùng trò chuyện với LVD. Chúc bạn ngày tốt lành, thật nhiều niềm vui bạn nhé.</p>


        <!-- Chat Form -->
        <form action="#" method="post">
            <label for="fullName">Họ và tên(*)</label>
            <input type="text" id="fullName" name="fullName" required>

            <label for="email">Email(*)</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Số điện thoại(*)</label>
            <input type="tel" id="phone" name="phone" required>

            <button type="submit">Bắt đầu trò chuyện</button>
        </form>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <!-- Form đăng nhập -->
            </div>
            <div class="col-md-6">
                <!-- Thêm class "swiper-container" để sử dụng Swiper -->
                <div class="swiper-container full-width">
                    <!-- Thêm class "swiper-wrapper" để chứa các ảnh -->
                    <div class="swiper-wrapper">
                        <!-- Mỗi ảnh sẽ là một "swiper-slide" -->
                        <div class="swiper-slide">
                            <!-- Thêm class "swiper-image" cho tất cả các ảnh -->
                            <img src="{{url_for('static', filename='image/airplane.jpg')}}" alt="Airplane Image"
                                class="img-fluid w-100 swiper-image">
                        </div>
                        <div class="swiper-slide">
                            <!-- Thêm class "swiper-image" cho tất cả các ảnh -->
                            <img src="{{url_for('static', filename='image/airplane1.jpg')}}" alt="Airplane Image"
                                class="img-fluid w-100 swiper-image">
                        </div>
                        <div class="swiper-slide">
                            <!-- Thêm class "swiper-image" cho tất cả các ảnh -->
                            <img src="{{url_for('static', filename='image/airplane2.jpg')}}" alt="Airplane Image"
                                class="img-fluid w-100 swiper-image">
                        </div>
                         <div class="swiper-slide">
                            <!-- Thêm class "swiper-image" cho tất cả các ảnh -->
                            <img src="{{url_for('static', filename='image/airplane.jpg')}}" alt="Airplane Image"
                                class="img-fluid w-100 swiper-image">
                        </div>
                        <div class="swiper-slide">
                            <!-- Thêm class "swiper-image" cho tất cả các ảnh -->
                            <img src="{{url_for('static', filename='image/airplane1.jpg')}}" alt="Airplane Image"
                                class="img-fluid w-100 swiper-image">
                        </div>
                         <div class="swiper-slide">
                            <!-- Thêm class "swiper-image" cho tất cả các ảnh -->
                            <img src="{{url_for('static', filename='image/airplane2.jpg')}}" alt="Airplane Image"
                                class="img-fluid w-100 swiper-image">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
        <p>Bản quyền © 2023 Nhóm 16.</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
                     var mySwiper = new Swiper('.swiper-container', {
                    loop: true, // Enable continuous loop
                    autoplay: {
                        delay: 3000, // Thời gian hiển thị mỗi ảnh (millisecond)
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
            });
        });

        $(document).ready(function() {
    $('.header').mouseenter(function() {
        $(this).animate({ backgroundColor: '#eee' }, 300);
    });

    $('.menu li a').hover(function() {
        $(this).animate({ backgroundColor: '#b8b8b8' }, 300);
    });

    // Thêm các hiệu ứng động khác tùy ý
});
  function toggleChat() {
            var chatBox = document.getElementById("chatBox");
            chatBox.classList.toggle("minimized");
        }
    </script>
</body>

</html>