<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>

    <title>{% block title %}Hệ Thống Quản Lý Chuyến Bay{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">HỆ THỐNG QUẢN LÝ CHUYẾN BAY</h1>
        </div>
        <h2 class="text-center">Welcome to the Admin Dashboard!</h2>

        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home')}}">Trang Chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Đăng Nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('booktickets')}}">Đặt Vé</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('sellticket')}}">Bán Vé</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('flightManagement')}}">Quản Lý Chuyến Bay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('ScheduleManagement')}}">Quản Lý Tuyến Bay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('reportRevenue')}}">Thông Kê Báo Cáo</a>
            </li>
        </ul>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <footer class="text-center mt-5">
            <p>Bản quyền thuộc về nhóm 16</p>
        </footer>
    </div>
</body>

</html>
